@model CreateContactDto
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa İletişim Bilgi İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni İletişim Yazı Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactlocation">Lokasyon</label>
                                <input type="text" class="form-control" asp-for="ContactLocation" id="contactlocation">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactphone">Telefon Numarası</label>
                                <input type="text" class="form-control" asp-for="ContactPhone" id="contactphone">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactmail">Mail Adresi</label>
                                <input type="email" class="form-control" asp-for="ContactMail" id="contactmail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ContactFooterTitle">Alt Başlık</label>
                                <input type="text" class="form-control" asp-for="ContactFooterTitle" id="ContactFooterTitle">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ContactOpenDays">Açık Günler</label>
                                <input type="text" class="form-control" asp-for="ContactOpenDays" id="ContactOpenDays">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ContactOpenDaysDescription">Açık Günler Açıklama</label>
                                <input type="text" class="form-control" asp-for="ContactOpenDaysDescription" id="ContactOpenDaysDescription">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ContactOpenHours">Açık Saatler</label>
                                <input type="text" class="form-control" asp-for="ContactOpenHours" id="ContactOpenHours">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactfooterdescription">Alt Açıklama Alanı</label>
                                <input type="text" class="form-control" asp-for="ContactFooterDescription" id="contactfooterdescription">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">İletişim Bilgi Yazısını Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

